# Dependencies
node_modules

# Build output
dist

# Environment files
!.env.example

# Testing
coverage

# Development
*.log
npm-debug.log*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
*.md
!README.md

